.footer {
    margin-top: 80px;
    
    .row {
        color: $whiteHalf;
        margin: 90px 0 30px 0;
        padding-bottom: 80px;
        position: relative;

        @include screen(992) {
            margin: 65px 0 25px 0;
            padding: 45px 20px; 
        }

        @include screen(768) {
            margin: 0 0 25px;
            padding: 10px 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 7;
            height: 1px;
            width: calc(100% - 14px);
            background: $white;
            opacity: .35;
        }
    }

    &__title {
        font-size: 51px;
        font-weight: 700;
        color: $white;

        @include screen(992) {
            font-size: 45px;
        }

        @include screen(768) {
            display: none;
        }

    }

    &__form {

        &-title {
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.416;
            color: $white;
            text-align: left;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 30px;

            @include screen(768) {
                margin-bottom: 0;
                text-align: center;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 6px;
                width: 0;
                background: $gold;
                transition: .3s;

                @include screen(768) {
                    content: none; 
                }
            }
        }

        &-col-25 {
            max-width: 210px;

            @include screen(768) {
                max-width: inherit;
                text-align: center;
            }

            a {
                color: $whiteHalf;
            }

            &:hover {

                .footer__form-title {

                    &:after {
                        width: 80%;
                    }
                }
            }
        }

        &-contacts {
            margin-bottom: 15px;

            span {
                max-width: 18px;
                padding-right: 10px;
            }
        }

        &-text {
            line-height: 1.78;
        }

        &-input {
            width: 100%;
            background: transparent;
            font-size: 17px;
            color: $white;
            padding: 18px;
            border: 2px solid $white;
            margin-bottom: 20px;

            @include screen(768) {
                margin-bottom: 0; 
            }
        }

        &-button {

            .button {
                max-width: 186px;
                width: 100%;
                text-transform: uppercase;
                color: #c9c7c7;
                padding: 17px 0;

                &:hover {
                    color: $white;
                }

                @include screen(600) {
                    padding: 16px 0;
                    font-size: 15px;
                }
            }   
        }
    }

    .double-height {
        line-height: 2;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        color: $whiteHalf;
        text-align: center;
    }
}